* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
}

.App {
  padding: 30px;
  background-color: #61dafb;
  width: 500px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.h1 {
  font-size: 33px;
  font-weight: 490;
}
.list_box {
  margin-top: 40px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.info-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn {
  display: block;
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  border: none;
  color: white;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.2s;
  width: 90%;
  text-align: center;
  margin-top: 50px;
}
.btn:hover {
  transform: scale(1.05);
}
.list-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.delete-btn {
  border-radius: 50%;
  background-color: #2575fc;
  transition: transform 0.2s;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
}
.delete-btn:hover {
  transform: scale(1.05);
}
.icon-delete {
  width: 22px;
  height: 22px;
  color: rgb(99, 64, 213);
}
