* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
}

.App {
  padding: 30px;
  background-color: #61dafb;
  width: 500px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.h1 {
  font-size: 33px;
  font-weight: 490;
}
.list_box {
  margin-top: 40px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.info-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
